.container{
    width: 75%;
     height: 100%;
}
header{
    margin-top: 40px;
    width: 100%;
}

.flex{
    display: flex;
}

.flex-item{
    height: 70vh;
    width: 50%;
    border-radius: 0px;
    margin: 10px;
}

.hero-right img{
    max-width: 100%;
   
}
nav{
    margin: 10px;
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
.left-nav{
    width: 50%;
    color: #0A0909;
    font-size: 20px;
    font-weight: bolder; 
}
.right-nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left:20px;

}

.right-nav button{
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    color: #9A6BFF;
    font-weight: bolder;
    background-color: #F8F7FD;
}
.right-nav button:not(last-child){
    padding-top: 30px;
}

.right-nav button:last-child{
    padding: 30px 70px ;
    border: 2px solid  #9A6BFF;
    border-radius: 50px;
}
.login{
    color: #9A6BFF;
    font-size: 20px;
}
.featured{
  text-align: center;

}

.featured span{
    color: #0A090966;
    font-weight: bolder;
}
.intro-top h1{
    font-size: 75px;
    margin-bottom: 10px;
}
.intro-content{
    font-size: 14px;
    line-height: 16.1px;
    width: 384px;
    font-weight: 700;
    color: #0A090980;
    margin-bottom: 20px;
}

.featured-banner{
    height: 280px;
    width: 100%;
    left: 176px;
    top: 1028px;
    border-radius: 40px;
    background: linear-gradient(180deg, #7E74E0 0%, #603AB3 100%);
    margin: auto;
    margin-top: 30px;
}
.featured-banner-left{
    width: 50%;
}
.featured-logo{
    margin-right: 20px;
}
.featured-content{
    text-align: left;
    color: white;
    font-weight: bolder;
}
.main-content{
    margin-top: 40px;
}
.intro-btn{
    width: 400px;
}
.buttom{
    margin-top: 20px;
}
.intro-btn button{
    text-decoration: underline;
    color: #0A0909;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #F8F7FD;
}
.main-left{
    background-image: url(/images/newimage\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.main-header{
    margin-top: 100px;
}
.main-right p{
    max-width: 406px ;
    line-height: 18px;
    font-size: 16px;
    color: #0A090966;font-weight: bolder;

}
.benefit-content{
    justify-content: space-around;
    width: 100%;
}
.benefit-text{
    width: 250px;
    height: 80px;
    margin: 0px 10px 0px 10px;
    background-color: #eee;
}
.benefit-flex{
    height: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.second{
    margin-top: 30px;
}

.call-to-action{
    background-color: #eee;
    height: 430px;
    width: 100%;
    margin-top: 40px ;
}

.action-section{
    width: 25%;
    height: 370px;
    margin: 40px 10px;
    background-color: white;
}

.login-btn{
    margin: 20px;
}

@media screen and (max-width: 1386px) {
    .container{
        width: 90%;
    }
}